@import url('header-footer.css');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: black;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.5rem;
}

h2, 
h3,
p,
main ul,
img {
    margin-bottom: 1.5rem;
}

nav,
main {
    padding: 64px 0 0 0;
    flex: 1;
    margin: 0 auto;
    height: 100%;
    width: 50%;
    max-width: 1000px;
}

main ul {
    list-style-position: inside;
}

nav li {
    list-style-type: none;
}

img {
    width: 80%;
}

.date {
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
}


